{:deps
 {nuid/cryptography
  {:git/url "git@github.com:nuid/cryptography.git",
   :sha "39c95fc2da02290dbc4dc1419f255f93b0745169"},
  nuid/ecc
  {:git/url "git@github.com:nuid/ecc.git",
   :sha "ed709d90e014dd3e8c20f7b780ccd3a029f4882b"},
  nuid/bn
  {:git/url "git@github.com:nuid/bn.git",
   :sha "760b472a8f63fbdb97ca79be49933249a7b3af62"},
  org.clojure/clojurescript {:mvn/version "1.10.520"},
  org.clojure/clojure {:mvn/version "1.10.0"}},
 :aliases
 {:repl
  {:extra-deps
   {nuid/deps
    {:git/url "git@github.com:nuid/deps.git",
     :sha "8a32571147caf3c58d89293848d244cc6733d1f7"}}}},
 :paths ["src"]}
