{:deps
 {nuid/cryptography {:sha "dbdb4cdefaaa971ca8f32556a69867b109e6ae32"
                     :git/url "git@github.com:NuID/cryptography.git"}
  nuid/ecc {:sha "69e4f96a37683e1bd3fcea1b0f3842161bc1f2f3"
            :git/url "git@github.com:NuID/ecc.git"}
  nuid/bn {:sha "d4c12ac791a1e1c30a0d946000a7dbec3023f17f"
           :git/url "git@github.com:NuID/bn.git"}
  org.clojure/clojurescript {:mvn/version "1.10.439"}
  org.clojure/clojure {:mvn/version "1.10.0-RC2"}}
 :aliases
 {:cambada
  {:extra-deps {luchiniatwork/cambada {:mvn/version "1.0.0"}}}}
 :paths ["src"]}
