{:deps {:aliases [:cljs]}
 :builds
 {:browser
  {:modules    {:nuid_zk {:entries [nuid.zk]}},
   :output-dir "target/browser",
   :asset-path "target/browser",
   :target     :browser},

  :node
  {:output-to   "target/node/nuid_zk.js",
   :exports-var nuid.zk/exports,
   :target      :node-library}}}
