{:builds
 {:browser
  {:modules {:browser {:entries [nuid.zka]}}
   :output-dir "target/browser"
   :asset-path "target/browser"
   :target :browser}

  :node
  {:output-to "target/node/nuid_zka.js"
   :exports-var nuid.zka/exports
   :target :node-library}}
 :deps {:aliases []}}
